.page_01{
  /* background-image: linear-gradient(45deg,#849b5c,#bfffc7); */
  /* background-image: linear-gradient(45deg,#0ccda3,#c1fcd3); */
  background: transparent;
  border: none;

}
.page_01>.left{
  /* width: 50%; */
  height: 100%;
  position: relative;
  /* background: skyblue; */
}
.page_01>.left ul li img{
  width: 330px;
  height: 440px;
  transition: all .3s;
}
.page_01>.left ul li:first-child{
  margin-left: 0;
}
.page_01>.left ul li {
  margin-top: 80px;
  width: 330px;
  height: 500px;
  /* background: red; */
  overflow: hidden;
  float: left;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 104px;
  box-shadow: rgba(1,1 ,1 ,.5 ) 5px 5px 10px;
  transition: all .3s;
}
.page_01>.left ul li:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: rgba(1,1 ,1 ,.5 ) 5px 10px 10px;
  text-shadow: rgba(1,1 ,1 ,.5 ) 5px 10px 5px;
}
.page_01>.left ul li:hover img{
  /* box-shadow: rgba(1,1 ,1 ,.5 ) 5px 10px 5px; */
  transform: scale(1.05);
}
.page_01>.left ul li h4{
  text-align: center;
  font-weight: 550;
  font-size: 25px;
  padding-top: 10px;
  font-family: font1;
}